* {
    margin: 0;
    padding: 0;
    font-family: "Alegreya Sans", serif;
    font-weight: 400;
    list-style-type: none;
}
body {
    padding-top: 80px;
}
.main-nav {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 9999;
}
.nav-logo img {
    width: 50%;
}
.main-nav .nav-links {
    display: none;
}
#check {
    display: none;
}
.menu, .exit {
    color: rgb(81, 50, 28);
    font-size: 30px;
}
.side-links {
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.side-links ul {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    display: none;
}
nav ul li a {
    text-decoration: none;
    color: rgb(103, 103, 103);
}
nav ul li {
    position: relative;
    padding-block: 15px;
}
.underlined::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background-color: rgba(103, 103, 103, 0.104);;
}
nav ul li a:hover {
    color: rgb(97, 88, 67);
}
.exit {
    display: none;
}
body:has(#check:checked) .menu {
    display: none;
}
body:has(#check:checked) .exit {
    display: block;
}
body:has(#check:checked) .side-links ul {
    display: block;
}
.menu:hover, .exit:hover {
    cursor: pointer;
}
